.body {
    margin: 0
}

:root {
    --f9-chat-title-color: #ffffff;
    --f9-chat-title-background-color: #05467c;
    --f9-chat-chat-background-color: #ffffff;
    --f9-chat-scrollbar-background-color: #fafafa;
    --f9-chat-scrollbar-thumb-color: #c1c1c1;
    --f9-chat-agent-text-color: #000000;
    --f9-chat-agent-bubble-color: #f4f7f2;
    --f9-chat-customer-text-color: #ffffff;
    --f9-chat-customer-bubble-color: #05467c;
    --f9-chat-welcome-text-color: #000000;
    --f9-chat-welcome-bubble-color: #f4f7f2;
    --f9-chat-input-text-color: #000000;
    --f9-chat-input-background-color: #ffffff;
    --f9-chat-quick-button-text-color: #ffffff;
    --f9-chat-quick-button-background-color: #05467c;
    --f9-chat-button-text-color: #ffffff;
    --f9-chat-button-background-color: #05467c;
    --f9-chat-mini-form-label-color: #000000;
    --f9-chat-mini-form-text-color: #000000;
    --f9-chat-mini-form-text-input-color: #000000;
    --f9-chat-mini-form-text-input-background-color: #ffffff;
    --f9-chat-mini-form-text-input-border-color: #767676;
    --f9-chat-mini-form-background-color: #ffffff;
    --f9-chat-mini-form-submit-color: #000000;
    --f9-chat-mini-form-submit-background-color: #ffffff;
    --f9-chat-survey-rating-color: #7b68ee;
    --f9-phone-display-flag: 'block';
    --f9-chat-badge-color: #f0f8ff;
    --f9-chat-badge-border-color: #333333;
    --f9-chat-badge-background-color: #e63535;
    --f9-chat-template-bubble-color: #f5f5f5;
    --f9-chat-template-text-color: #000000;
    --f9-chat-template-button-color: #add8e6;
    --f9-chat-template-button-hover-color: #add8e6;
    --f9-chat-tray-button-hover-background-color: transparent;
    --f9-chat-tray-button-hover-border-color: transparent;
    --f9-chat-avatar-height: 40px;
    --f9-chat-avatar-width: 40px;
    --f9-chat-avatar-border-color: #dadada;
    --f9-chat-avatar-border-width: 1px;
    --f9-chat-avatar-border-radius: 50;
    --f9-chat-font-family: "Averta-Regular";
    --f9-chat-font-size: "14px";
    --f9-chat-font-family-chat: "Averta-ExtraBold";
    --f9-chat-font-size-chat: "14px";
    --f9-chat-font-family-form: "Averta-Regular";
    --f9-chat-font-size-form: "14px";
    --f9-chat-font-family-form-input: "Averta-Regular";
    --f9-chat-font-size-form-input: "14px";
    --f9-chat-font-family-title: "Averta-ExtraBold";
    --f9-chat-font-size-title: "16px";
    --f9-chat-font-family-menu: "Averta-Regular";
    --f9-chat-font-size-menu: "16px";
    --f9-chat-font-family-template: "sans-serif";
    --f9-chat-font-size-template: "16px"
}

@font-face {
    font-family: Averta-ExtraBold;
    src: url("https://live-chat.ps.five9.com/asset/fonts/averta-extrabold-webfont.woff") format("woff")
}

@font-face {
    font-family: Averta-Regular;
    src: url("https://live-chat.ps.five9.com/asset/fonts/averta-regular-webfont.woff") format("woff")
}

@font-face {
    font-family: Poppins;
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url("https://cdn.prod.us.five9.net/stable/chat/ngchat-app/static/Poppins-Regular.707fdc5c.ttf")
}

@font-face {
    font-family: Poppins;
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url("https://cdn.prod.us.five9.net/stable/chat/ngchat-app/static/Poppins-Bold.7219547e.ttf")
}

@font-face {
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: url("https://cdn.prod.us.five9.net/stable/chat/ngchat-app/static/Roboto-Light.4b2e824b.ttf")
}

@font-face {
    font-family: Roboto;
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url("https://cdn.prod.us.five9.net/stable/chat/ngchat-app/static/Roboto-Regular.dbd285b5.ttf")
}

@font-face {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url("https://cdn.prod.us.five9.net/stable/chat/ngchat-app/static/Roboto-Medium.616eee3f.ttf")
}

@font-face {
    font-family: Roboto;
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: url("https://cdn.prod.us.five9.net/stable/chat/ngchat-app/static/Roboto-SemiBold.57b40c38.ttf")
}

@font-face {
    font-family: Roboto;
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url("https://cdn.prod.us.five9.net/stable/chat/ngchat-app/static/Roboto-Bold.deb990e2.ttf")
}

@font-face {
    font-family: Roboto;
    font-style: normal;
    font-weight: 800;
    font-display: swap;
    src: url("https://cdn.prod.us.five9.net/stable/chat/ngchat-app/static/Roboto-ExtraBold.f00b24de.ttf")
}

@font-face {
    font-family: Roboto;
    font-style: normal;
    font-weight: 900;
    font-display: swap;
    src: url("https://cdn.prod.us.five9.net/stable/chat/ngchat-app/static/Roboto-Black.59cc48c9.ttf")
}

.rcw-new-message::placeholder {
    color: #cbcbcb
}

.rcw-header {
    font-family: var(--f9-chat-font-family-title);
    font-size: var(--f9-chat-font-size-title);
    font-weight: 700;
}

.rcw-conversation-container .rcw-header {
    color: var(--f9-chat-title-color);
    background-color: var(--f9-chat-title-background-color);
    border-radius: 25px 25px 0 0;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    text-align: center !important;
    padding: 10px 0 10px !important;
    height: 30px;
    align-items: center;
    justify-content: center
}

.rcw-conversation-container .rcw-title {
    font-size: 18px;
    margin: 0;
    padding: 15px 0
}

.rcw-conversation-container .rcw-close-button {
    display: none
}

.rcw-conversation-container .avatar {
    width: 40px;
    height: 40px;
    border-radius: 100%;
    margin-right: 10px;
    vertical-align: middle
}

.rcw-full-screen .rcw-header {
    border-radius: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    position: relative
}

.rcw-full-screen .rcw-title {
    padding: 0 0 15px
}

.rcw-full-screen .rcw-close-button {
    background-color: var(--f9-chat-title-background-color);
    border: 0;
    display: block;
    position: absolute;
    right: 10px;
    top: 20px;
    width: 40px
}

.rcw-full-screen .rcw-close {
    width: 20px;
    height: 20px
}

@media screen and (max-width:100px) {
    .rcw-conversation-container .rcw-header {
        border-radius: 0;
        -ms-flex-negative: 0;
        flex-shrink: 0;
        position: relative
    }

    .rcw-conversation-container .rcw-title {
        padding: 0 0 15px
    }

    .rcw-conversation-container .rcw-close-button {
        background-color: var(--f9-chat-title-background-color);
        border: 0;
        display: block;
        position: absolute;
        right: 10px;
        top: 20px;
        width: 40px
    }

    .rcw-conversation-container .rcw-close {
        width: 20px;
        height: 20px
    }
}

.rcw-message {
    margin-left: 20px;
    display: -ms-flexbox;
    display: flex;
    word-wrap: break-word;
    font-family: var(--f9-chat-font-family-chat), serif
}

.rcw-timestamp {
    font-size: 10px;
    margin-top: 5px
}

.rcw-agent-display-name {
    font-size: 10px;
    margin-top: 5px;
    font-weight: 700
}

.rcw-client {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-left: auto;
    width: fit-content
}

.rcw-client .rcw-message-text {
    background-color: var(--f9-chat-customer-bubble-color);
    color: var(--f9-chat-customer-text-color);
    font-family: var(--f9-chat-font-family-chat), serif;
    border-radius: 15px 15px 0 15px;
    padding: 15px;
    min-width: 49px;
    text-align: left;
    box-shadow: 2px 2px 10px 1px rgba(0, 0, 0, 0.1);
}

.rcw-started-message {
    font-size: 16px
}

.rcw-client .rcw-timestamp {
    -ms-flex-item-align: end;
    align-self: flex-end
}

.rcw-response > div {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-align: start;
    align-items: flex-start;
    padding: 5px;
    background-color: var(--f9-chat-agent-bubble-color);
    color: var(--f9-chat-agent-text-color);
    font-family: var(--f9-chat-font-family-chat), serif;
    border-radius: 15px 15px 15px 0 !important;
    padding: 15px !important;
    max-width: fit-content !important;
    text-align: left !important;
    box-shadow: -2px 2px 10px 1px rgba(0, 0, 0, 0.1);
}

.rcw-response .rcw-message-text {
    background-color: var(--f9-chat-agent-bubble-color);
    color: var(--f9-chat-agent-text-color);
    font-family: var(--f9-chat-font-family-chat), serif;
    border-radius: 15px 15px 15px 0;
    /* padding: 0px !important; */
    max-width: 100% !important;
}

.rcw-welcome {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-align: start;
    align-items: flex-start;
    margin-bottom: 10px
}

.rcw-welcome .rcw-message-text {
    background-color: var(--f9-chat-welcome-bubble-color);
    color: var(--f9-chat-welcome-text-color);
    border-radius: 15px 15px 15px 0;
    padding: 15px;
    max-width: 100%;
    text-align: left
}

.rcw-message-text p {
    margin: 0
}

.rcw-message-text img {
    width: 100%;
    object-fit: contain
}

.rcw-message-text {
    font-size: var(--f9-chat-font-size-chat);
    font-family: var(--f9-chat-font-family-chat), serif
}

.rcw-avatar {
    width: 40px;
    height: 40px;
    border-radius: 100%;
    margin-right: 10px
}

.rcw-snippet {
    background-color: var(--f9-chat-agent-text-color);
    border-radius: 10px;
    padding: 15px;
    max-width: 215px;
    text-align: left
}

.rcw-snippet-title {
    margin: 0
}

.rcw-snippet-details {
    border-left: 2px solid #35e65d;
    margin-top: 5px;
    padding-left: 10px
}

.rcw-link {
    font-size: 12px
}

.quick-button {
    color: var(--f9-chat-quick-button-text-color);
    background: 0 0;
    border-radius: 15px;
    border: 2px solid var(--f9-chat-quick-button-text-color);
    font-weight: 700;
    padding: 5px 10px;
    cursor: pointer;
    outline: 0
}

.quick-button:active {
    background: var(--f9-chat-title-background-color);
    color: #fff
}

.loader {
    margin-left: 20px;
    display: none
}

.loader.active {
    display: -ms-flexbox;
    display: flex
}

.loader-container {
    background-color: var(--f9-chat-agent-bubble-color);
    border-radius: 10px;
    padding: 15px;
    max-width: 215px;
    text-align: left;
    box-shadow: -2px 2px 10px 1px rgba(0, 0, 0, 0.1);
}

.loader-dots {
    display: inline-block;
    height: 4px;
    width: 4px;
    border-radius: 50%;
    background: var(--f9-chat-agent-text-color);
    margin-right: 2px;
    animation: a .5s ease infinite alternate
}

.loader-dots:first-child {
    animation-delay: .2s
}

.loader-dots:nth-child(2) {
    animation-delay: .3s
}

.loader-dots:nth-child(3) {
    animation-delay: .4s
}

@keyframes a {
    0% {
        transform: translateY(0)
    }

    to {
        transform: translateY(5px)
    }
}

.rcw-messages-container {
    background-image: linear-gradient(180deg, #ffffff 0%, var(--f9-chat-chat-background-color) 100%);
    height: 100vh;
    max-height: 1000px;
    overflow-y: scroll;
    padding-top: 0;
    border-bottom: 1px solid var(--f9-chat-title-background-color)
}

.rcw-full-screen .rcw-messages-container {
    height: 100%;
    max-height: none
}

@media screen and (max-width:10px) {
    .rcw-messages-container {
        height: 100%;
        max-height: none
    }
}

.rcw-sender {
    -ms-flex-align: center;
    align-items: center;
    display: -ms-flexbox;
    display: flex;
    background-color: var(--f9-chat-input-background-color);
    height: 65px;
    padding: 5px;
    border-radius: 0 0 25px 25px;
    border-top-color: #903f3f
}

.rcw-sender.expand {
    height: 65px
}

.rcw-new-message {
    width: 100%;
    border: 0;
    height: 30px;
    padding-left: 20px;
    resize: none;
    color: var(--f9-chat-input-text-color);
    font-family: var(--f9-chat-font-family-chat), serif;
    font-size: var(--f9-chat-font-size-chat);
    background-color: transparent
}

.rcw-new-message:focus {
    outline: 0
}

.rcw-new-message.expand {
    height: 40px
}

.rcw-send {
    background: var(--f9-chat-input-background-color);
    border: 0;
    border-radius: 50%;
    transition: .2s;
    cursor: pointer;
    padding: 4px
}

.rcw-send:hover {
    background: var(--f9-chat-tray-button-hover-background-color);
    border-radius: 50%;
    box-shadow: 0 0 5px var(--f9-chat-tray-button-hover-border-color);
    text-shadow: 0 0 5px var(--f9-chat-tray-button-hover-border-color)
}

.rcw-send .rcw-send-icon {
    height: 25px
}

@media screen and (max-width:10px) {
    .rcw-sender {
        border-radius: 0;
        -ms-flex-negative: 0;
        flex-shrink: 0
    }
}

.quick-buttons-container {
    background: var(--f9-chat-quick-button-background-color);
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    padding: 5px
}

.quick-buttons-container .quick-buttons {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center
}

.quick-buttons-container .quick-buttons .quick-list-button {
    display: inline-block;
    margin-right: 10px
}

@media screen and (max-width:800px) {
    .quick-buttons-container {
        height: 42px
    }
}

.rcw-conversation-container {
    border-radius: 25px;
    box-shadow: 0 2px 10px 1px #b5b5b5
}

.rcw-conversation-container.active {
    opacity: 1;
    transform: translateY(0);
    transition: opacity .3s ease, transform .3s ease
}

.rcw-conversation-container.hidden {
    z-index: -1;
    pointer-events: none;
    opacity: 0;
    transform: translateY(10px);
    transition: opacity .3s ease, transform .3s ease
}

.rcw-full-screen .rcw-conversation-container {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    height: 100%
}

@media screen and (max-width:800px) {
    .rcw-conversation-container {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-direction: column;
        flex-direction: column;
        height: 100%
    }
}

.rcw-launcher .rcw-badge {
    position: fixed;
    top: -10px;
    right: -5px;
    background-color: red;
    color: #fff;
    width: 25px;
    height: 25px;
    text-align: center;
    line-height: 25px;
    border-radius: 50%
}

.rcw-launcher {
    display: none !important;
    -webkit-animation-delay: 0;
    -webkit-animation-duration: .5s;
    -webkit-animation-name: d;
    -webkit-animation-fill-mode: forwards;
    -moz-animation-delay: 0;
    -moz-animation-duration: .5s;
    -moz-animation-name: d;
    -moz-animation-fill-mode: forwards;
    animation-delay: 0;
    animation-duration: .5s;
    animation-name: d;
    animation-fill-mode: forwards;
    -ms-flex-item-align: end;
    align-self: flex-end;
    background-color: transparent;
    border: 0;
    height: 60px;
    margin-top: 10px;
    cursor: pointer;
    width: 60px
}

.rcw-launcher:focus {
    outline: 0
}

.rcw-open-launcher {
    -webkit-animation-delay: 0;
    -webkit-animation-duration: .5s;
    -webkit-animation-name: c;
    -webkit-animation-fill-mode: forwards;
    -moz-animation-delay: 0;
    -moz-animation-duration: .5s;
    -moz-animation-name: c;
    -moz-animation-fill-mode: forwards;
    animation-delay: 0;
    animation-duration: .5s;
    animation-name: c;
    animation-fill-mode: forwards
}

.rcw-close-launcher {
    width: 20px;
    -webkit-animation-delay: 0;
    -webkit-animation-duration: .5s;
    -webkit-animation-name: b;
    -webkit-animation-fill-mode: forwards;
    -moz-animation-delay: 0;
    -moz-animation-duration: .5s;
    -moz-animation-name: b;
    -moz-animation-fill-mode: forwards;
    animation-delay: 0;
    animation-duration: .5s;
    animation-name: b;
    animation-fill-mode: forwards
}

@media screen and (max-width:800px) {
    .rcw-launcher {
        bottom: -2px;
        margin: 20px;
        position: fixed
    }

    .rcw-hide-sm {
        display: none
    }
}

.rcw-previewer-container {
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, .75);
    overflow: hidden;
    position: fixed;
    left: 0;
    top: 0
}

.rcw-previewer-container .rcw-previewer-image {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    transition: all .3s ease
}

.rcw-previewer-container .rcw-previewer-tools {
    position: fixed;
    right: 16px;
    bottom: 16px;
    -ms-flex-direction: column;
    flex-direction: column
}

.rcw-previewer-container .rcw-previewer-button,
.rcw-previewer-container .rcw-previewer-tools {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center
}

.rcw-previewer-container .rcw-previewer-button {
    padding: 0;
    margin: 16px;
    box-shadow: 0 3px 8px 0 rgba(0, 0, 0, .3);
    border-radius: 50%;
    width: 32px;
    height: 32px;
    outline: 0;
    background-color: #fff;
    border: none
}

.rcw-previewer-container .rcw-previewer-close-button {
    position: absolute;
    right: 0;
    top: 0
}

.rcw-previewer-container .rcw-previewer-veil {
    width: 100%;
    height: 100%;
    overflow: scroll;
    position: relative
}

@keyframes b {
    0% {
        transform: rotate(-90deg)
    }

    to {
        transform: rotate(0)
    }
}

@keyframes c {
    0% {
        transform: rotate(90deg)
    }

    to {
        transform: rotate(0)
    }
}

@keyframes d {
    0% {
        opacity: 0;
        transform: translateY(10px)
    }

    to {
        opacity: 1;
        transform: translateY(0)
    }
}

.rcw-widget-container {
    bottom: 0;
    right: 0;
    width: 355px;
    height: 637px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    position: fixed;
    z-index: 99000;
    margin: 0 20px 85px 0
}

.rcw-full-screen {
    height: 100vh;
    margin: 0;
    max-width: none;
    width: 100%
}

@media screen and (max-width:10px) {
    .rcw-widget-container {
        height: 100%;
        margin: 0;
        max-width: none;
        width: 100%;
        z-index: 99000
    }
}

.rcw-previewer .rcw-message-img {
    cursor: pointer
}

.anchors {
    margin: 5px;
    padding: 10px 20px;
    border-radius: 15px;
    background: #008aff;
    color: #fff
}

.anchors-button {
    margin: 5px;
    padding: 10px 20px;
    border-radius: 15px
}

.bot-ul {
    margin: 0;
    padding: 0
}

.bot-button-wrapper {
    width: 85%;
    position: center;
    border: 1px solid;
    border-radius: 10px
}

.bot-quick-reply {
    background: 0 0;
    border-radius: 15px;
    border: 2px solid var(--f9-chat-title-background-color);
    font-weight: 500;
    padding: 5px 10px;
    margin: 5px 0;
    cursor: pointer;
    outline: 0;
    font-size: var(--f9-chat-font-size-chat);
    text-decoration: underline;
    color: var(--f9-chat-title-background-color);
    font-family: var(--f9-chat-font-family), serif;
    max-width: 100%
}

.bot-quick-reply:hover {
    background-color: var(--f9-chat-title-background-color);
    color: #fff
}

.bot-button {
    width: 100%;
    background: 0 0;
    font-weight: 700;
    padding: 5px 0;
    cursor: pointer;
    outline: 0;
    border: none;
    display: inline;
    margin: 5px
}

.endButtonHolder {
    position: fixed;
    bottom: 765px;
    right: 54px
}

.endButton {
    border: 1px solid #fff;
    border-radius: 0;
    background-color: var(--f9-chat-title-background-color);
    color: #fff;
    font-family: var(--f9-chat-font-family), serif;
    font-size: 14px
}

.menuButtonHolder {
    position: fixed;
    bottom: 765px;
    right: 54px
}

.menuButton {
    border: 1px solid #fff;
    border-radius: 0;
    background-color: var(--f9-chat-title-background-color);
    color: #fff;
    font-family: var(--f9-chat-font-family), serif;
    font-size: 14px
}

button {
    color: green
}

.rcw-new-message {
    display: flex;
    height: 100%;
    max-height: 20vh;
    overflow-y: auto;
    align-items: center
}

.rcw-input {
    height: 100%;
    width: inherit;
    text-align: left;
    max-height: 100%;
    cursor: text
}

.test {
    width: 100%
}

.message-wrapper-client {
    width: 100%
}

.message-wrapper-response {
    width: 100%
}

.message-wrapper-welcome {
    width: 100%
}

.bot-reply-wrapper {
    width: 100%
}

.rcw-chat-url {
    display: inline;
    text-decoration: underline;
    cursor: pointer
}

.ham {
    position: fixed;
    top: .5rem;
    right: 50px;
    width: 1rem;
    height: 1rem;
    border: none;
    color: #fff;
    background-color: var(--f9-chat-title-background-color);
    cursor: pointer;
    z-index: 99999
}

.menuIcon {
    display: block
}

.xIcon {
    display: none
}

.menu {
    position: fixed;
    top: 32px;
    width: auto;
    height: auto;
    background: var(--f9-chat-title-background-color);
    font-family: var(--f9-chat-font-family), serif;
    transform: scaleY(0);
    transition: transform .3s;
    list-style: none;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border-color: #000;
    border-style: solid;
    border-width: 0 1px 1px 1px
}

.showMenu {
    transform: translateY(0)
}

li {
    padding: 0 0
}

.menuLink {
    display: inline;
    color: var(--f9-chat-title-color);
    background: var(--f9-chat-title-background-color);
    font-size: var(--f9-chat-font-size-menu);
    font-family: var(--f9-chat-font-family-menu), serif;
    text-decoration: none;
    cursor: pointer
}

.menuLink:hover {
    text-decoration: underline
}

.miniFormHolder {
    background: linear-gradient(180deg, #ffffff 0%, var(--f9-chat-mini-form-background-color) 100%);
    margin: 0 20px 85px 0;
    border: 1px solid var(--f9-chat-title-background-color);
    font-family: var(--f9-chat-font-family-form), serif
}

.miniFormHeader {
    color: var(--f9-chat-title-color);
    background: var(--f9-chat-title-background-color);
    font-size: var(--f9-chat-font-size-title);
    font-family: var(--f9-chat-font-family-title), serif;
    font-weight: 700;
}

.miniForm::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 60%;
    background: var(--f9-chat-title-background-color);
    border-radius: 0px 0px 48px 48px;
    z-index: 0;
}

.miniForm form{
    background: var(--f9-chat-agent-bubble-color);
    border-radius: 10px;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.1);
    padding-bottom: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 20px;
    padding: .75rem 1rem;
    gap: .5rem;
}

.miniForm * {
  position: relative;
  z-index: 1;
}

.miniForm {
    font-family: Poppins, var(--f9-chat-font-family-form), serif;
    font-size: var(--f9-chat-font-size-form);
    color: var(--f9-chat-mini-form-text-color);
    padding-left: 25px;
    padding-right: 25px;
    position: relative;
    z-index: 0;
}

.miniForm span:empty {
  display: none;
}

.miniFormLabel {
    color: var(--f9-chat-mini-form-label-color);
}

.miniFormLabel span {
    background-color: transparent !important;
}

.miniFormInput {
    border-radius: 1rem;
    border: 1px solid var(--f9-chat-mini-form-text-input-border-color);
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    width: 85% !important;
}

.miniFormInputArea {
    border-radius: 12px;
    border: 1px solid var(--f9-chat-mini-form-text-input-border-color);
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    margin-bottom: 6px;
    width: 88% !important;
}

.miniFormSubmit {
    border-radius: 15px;
    margin-top: 5px;
    color: var(--f9-chat-mini-form-submit-color);
    background: var(--f9-chat-mini-form-submit-background-color);
    font-family: var(--f9-chat-font-family-form), serif;
    font-size: var(--f9-chat-font-size-form);
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 8px;
    padding-right: 8px;
    cursor: pointer;
    transition: all 0.25s ease;
    border: 1px solid var(--f9-chat-mini-form-submit-color);
}

.miniFormSubmit:hover {
    background: var(--f9-chat-mini-form-submit-color);
    color: var(--f9-chat-mini-form-submit-background-color);
}

.miniFormSubmit:active:hover {
    animation: none;
    transform: scale(.95);
}

.nudge-wrapper {
    background-color: #f5f5f5;
    border-radius: 10px;
    width: 100%
}

.nudge-title {
    font-weight: 700;
    padding: 10px;
    text-align: center;
    background: #a9a9a9
}

.nudge-text {
    font-weight: 400;
    padding-top: 10px;
    padding-left: 8px;
    text-align: center
}

.nudge-image {
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px
}

.nudge-timestamp {
    font-size: 10px;
    margin-top: 5px;
    margin-left: 5px
}

.nudge-button-container {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    margin: 0
}

.nudge-button {
    background: 0 0;
    font-weight: 700;
    cursor: pointer;
    outline: 0;
    display: inline-block;
    margin-top: 5px;
    margin-bottom: 5px;
    border: solid #add8e6;
    border-radius: 15px;
    padding: 10px;
    align-items: center;
    width: auto
}

.intl-tel-input {
    float: left;
    margin-left: 10px
}

.flag-container {
    display: var(--f9-phone-display-flag)
}

.buttonBar {
    position: fixed;
    bottom: 765px
}

.barButton {
    border: none;
    border-radius: 50%;
    background-color: var(--f9-chat-title-background-color);
    color: var(--f9-chat-title-color);
    font-family: var(--f9-chat-font-family), serif;
    font-size: 14px;
    width: 30px;
    height: 30px;
    cursor: pointer;
    transition: all 0.25s ease;
}

.barButton:active:hover {
    animation: none;
    transform: scale(.95);
}

.barButton:hover {
    color: #ffffff;
    background: var(--f9-chat-tray-button-hover-background-color);
    border-radius: 50%;
    box-shadow: 0 0 5px var(--f9-chat-tray-button-hover-border-color);
    text-shadow: 0 0 5px var(--f9-chat-tray-button-hover-border-color)
}

.barTimer {
    display: inline-block;
    color: var(--f9-chat-title-color);
    background-color: var(--f9-chat-title-background-color);
    font-family: monospace;
    font-size: 12px
}

.tooltip {
    position: relative;
    display: inline-block
}

.tooltip .tooltiptext {
    visibility: hidden;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 5px;
    position: absolute;
    z-index: 1;
    top: 35px;
    left: 50%;
    margin-left: -30px;
    opacity: 0;
    transition: opacity .3s
}

.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent #555 transparent
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1
}

.tooltip:focus::after .tooltiptext {
    visibility: visible;
    opacity: 1
}

.tooltip:focus::before .tooltiptext {
    visibility: visible;
    opacity: 1
}

#endConfirmationMessage {
    background-color: transparent !important;
}

.end-confirmation-button-group {
    display: flex;
    flex-flow: column;
    flex-wrap: wrap;
    padding-top: 10px;
    width: 100%;
    align-content: center;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.end-confirmation-button {
    display: block;
    border: 1px solid #000;
    border-radius: 1rem;
    color: #000;
    background: #f5f5f5;
    width: 100px;
    height: 25px;
    margin-right: 10px;
    cursor: pointer;
    transition: all 0.25s ease;
}

.end-confirmation-button:active:hover {
    animation: none;
    transform: scale(.95);
}

.end-confirmation-button:hover {
    background: var(--f9-chat-mini-form-submit-color);
    color: var(--f9-chat-mini-form-submit-background-color);
}

.end-cancel-button {
    display: block;
    border: 1px solid #000;
    border-radius: 1rem;
    color: #000;
    background: #f5f5f5;
    width: 100px;
    height: 25px;
    margin-bottom: 10px;
    cursor: pointer;
    transition: all 0.25s ease;
}

.end-cancel-button:active:hover {
    animation: none;
    transform: scale(.95);
}

.end-cancel-button:hover {
    background: var(--f9-chat-mini-form-submit-color);
    color: var(--f9-chat-mini-form-submit-background-color);
}

.error-button-group {
    display: flex;
    flex-flow: column;
    flex-wrap: wrap;
    padding-top: 10px;
    width: 100%;
    align-items: center
}

.error-end-button {
    display: block;
    border: 1px solid #000;
    border-radius: 5px;
    color: #000;
    background: #f5f5f5;
    width: 130px;
    height: 25px;
    margin-bottom: 10px
}

.error-retry-button {
    display: block;
    border: 1px solid #000;
    border-radius: 5px;
    color: #000;
    background: #f5f5f5;
    width: 130px;
    height: 25px;
    margin-bottom: 10px
}

.calendar-icon {
    background: url("./images/calendar.png") no-repeat right;
    background-size: 16px
}

.react-datepicker__current-month {
    display: none
}

.react-datepicker__month-read-view--down-arrow {
    display: none
}

.react-datepicker__year-read-view--down-arrow {
    display: none
}

.template-button-container {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 3px;
    min-width: auto;
    padding-top: 5px
}

.template-button {
    border: solid 1px var(--f9-chat-template-button-color);
    display: inline-flex;
    margin-top: 2px;
    text-align: center;
    padding: 0.25rem 0.4rem;
    border-radius: 1rem;
    cursor: pointer;
    white-space: normal;
    width: fit-content;
    flex: 0 0 auto;
    font-weight: 400;
    margin-bottom: 2px;
}

.template-button:hover {
    border: solid 1px var(--f9-chat-template-button-hover-color);
    background: var(--f9-chat-mini-form-submit-color);
    color: var(--f9-chat-mini-form-background-color);
}

.template-button:active:hover {
    animation: none;
    transform: scale(.95)
}

[id^="chatFormField"][id$="-error"] {
    position: relative;
    z-index: 1;
    background-color: var(--f9-chat-agent-bubble-color) !important;
}

.template-wrapper {
    background-color: transparent !important;
}

.start-new-chat-button {
    border-radius: 15px;
    border: 1px solid var(--f9-chat-mini-form-submit-color);
    color: var(--f9-chat-mini-form-submit-color);
    background: var(--f9-chat-font-family-form);
    font-family: var(--f9-chat-font-family-form);
    padding: 5px 8px 5px 8px;
    cursor: pointer;
    transition: all 0.25s ease;
    font-size: var(--f9-chat-font-size-form);
}

.start-new-chat-button:hover {
    background: var(--f9-chat-mini-form-submit-color);
    color: var(--f9-chat-mini-form-submit-background-color);
}

.start-new-chat-button:active:hover {
    animation: none;
    transform: scale(.95);
}