.miniFormInput {
    border-radius: 12px;
    border: 1px solid var(--f9-chat-mini-form-text-input-border-color);
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.miniFormInputArea {
    border-radius: 12px;
    border: 1px solid var(--f9-chat-mini-form-text-input-border-color);
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.miniFormSubmit {
    border-radius: 12px;
    margin-top: 5px;
    color: var(--f9-chat-mini-form-submit-color);
    background: var(--f9-chat-mini-form-submit-background-color);
    font-family: var(--f9-chat-font-family-form), serif;
    font-size: var(--f9-chat-font-size-form)
}
.miniFormSubmit:hover {
    border-radius: 12px;
    margin-top: 5px;
    color: var(--f9-chat-mini-form-submit-color);
    background: var(--f9-chat-mini-form-submit-background-color);
    font-family: var(--f9-chat-font-family-form), serif;
    font-size: var(--f9-chat-font-size-form)
}